<p style="color: green"><%= notice %></p>

<%= render "recipe_show", recipe: @recipe %>

<% if @recipe.user == current_user %>
  <div>
    <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %> |
    <%= button_to "Destroy this recipe", @recipe, method: :delete %>
  </div>
<% end %>

<%= render "recipe_foods_table", foods: @ingredients %>

<%= link_to "Back to recipes", recipes_path %>
