<p style="color: green"><%= notice %></p>

<div class=" " id=" ">
  <h1>Recipe <%= @recipe.id %> - <%= @recipe.name %></h1>
  <div class=" ">
        <p>Preparation time: <%= @recipe.preparation_time %> hour</p>
        
        
        <div class=" ">
            <p>Public: <%= @recipe.public ? "Yes" : "No" %></p>
            <div class=" ">
                <input type="checkbox" id="toggle1" class=" " <%= @recipe.public ? 'checked' : '' %>>
                <label class=" " for="toggle1">
                    <div class=" "></div>
                </label>       
            </div>
        </div>
    </div>

    <p>Cooking time: <%= @recipe.cooking_time %> hours</p>
    
    <p><%= @recipe.description %></p>

    <div class=" ">
        <%= link_to "Generate shopping list", shopping_list_path, class: " "%>
        <%= link_to "Add ingredient", new_recipe_recipe_food_path(@recipe), class: " "%>        
    </div>  
</div>

<div class="table">
    <table>
        <thead>
            <tr>
                <th>Food</th>
                <th>Quantity</th>
                <th>Value</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% @foods.each do |item| %>
                <tr>
                    <td><%= item.food.name %></td>
                    <td><%= item.quantity %></td>
                    <td><%= item.quantity * item.food.price %></td>
                    <td class=" ">
                        <%= link_to "Modify", edit_recipe_recipe_food_path(@recipe, item), class: "link to"%>
                        <%= "&nbsp;" "&nbsp;".html_safe %>
                        <%= button_to "Remove", [@recipe, item], method: :delete %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div> 
  <div>
    
    <%= link_to "Back to recipes", recipes_path %>
    <% if @recipe.user == current_user %>
    
<% end %>
    <div>
      <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %> |
      <%= button_to "Destroy this recipe", @recipe, method: :delete %>
    </div> 
  </div>

