<nav class="navbar navbar-expand-lg bg-light">
    <a id="navbar-brand" href="/">Public Recipes</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
    <li><%= link_to "My Recipes", recipes_path, class: "nav-link" %></li>
    <li><%= link_to "My Foods", foods_path, class: "nav-link" %></li>
    <li><%= link_to "Shopping list", shopping_list_path, class: "nav-link" %></li>
      <% if current_user %>
        <li class="nav-item"> <%= link_to "Edit Account", edit_user_registration_path, class: "nav-link" %></li>
        <li class="nav-item"> <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
      <% else %>
        <li class="nav-item"> <%= link_to "Sign Up", new_user_registration_path, class: "nav-link"  %></li>
        <li class="nav-item"> <%= link_to "Sign In", new_user_session_path, class: "nav-link"  %></li>
      <% end %>
    </ul>
  </div>
</nav>
