<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "food_list.css" %>
  </head>

  <body>
  <%= render "layouts/navbar" %>
  
  <div class="container mt-4">
    <!-- Bootstrap Alert for Notice -->
    <% flash.each do |key, value| %>
      <div class="alert alert-info alert-dismissible fade show d-none" role="alert">
        <%= value %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>

    <!-- Bootstrap Alert for Alert -->
    <div class="alert alert-danger alert-dismissible fade show d-none" role="alert">
      <%= alert %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <%= yield %>
  </div>

  <script>
    window.addEventListener('unload', function() {
      document.cookie.split(";").forEach(function(c) {
        document.cookie = c.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/");
      });
    });
  </script>
  </body>
</html>
